.section {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#section_1 {
    background-image: url("../images/s1.jpg");
}
#section_2 {
    background-image: url("../images/s2.jpg");
}
#section_3 {
    background-image: url("../images/s3.jpg");
}
#pp-nav li a span {
    width: 20px;
    height: 20px;
    border: none;
    background-color: #ffffff;
}
#pp-nav li {
    padding: 10px 40px 10px 0;
}
#pp-nav li .active span, .pp-slidesNav .active span {
    background-color: inherit;
    border: 3px solid #ffffff !important;
}
h1, h3 {
    text-align: center;
    color: #ffffff !important;
}
div.wrapper h1 {
    font-size: 50px;
    font-weight: bold;
}
#arrow {
    width: 100px;
    height: 100px;
    background: rgba(18, 18, 18, 0.6);
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 45%;
    border: 0;
    outline: 0;
    z-index: 100;
    transition: ease-in 0.3s;
    font-weight: bold;
}
#arrow img {
    width: 50px;
}
#arrow:hover {
    background: rgba(11, 11, 11, 0.73);
}
#arrow:hover span {
    top: 0;
    color: #FFF;
}
.wrapper img {
    width: 300px;
}
img.logo {
    position: absolute;
    top: 20px;
    left: 40px;
    height: 60px;
}
img[src*="Wallker"] , img[src*='Maestro'] {
    position: absolute;
    width: 80%;
}
.Wallker p , .Maestro p{
    color: white;
    font-size: 28px;
    text-align: left;
}
.Wallker h1 , .Maestro h1{
    font-family: "Poiret One", bold;
}
.Wallker h1::before {
    content: url("../images/bulletpoint_blue.png");
    position: absolute;
    color: #008eff;
    transform: translate(-40px, -60px);
    font-size: 100px;
}
